<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Ingresar al sistema</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form role="form"  id="loginModalIngresar">
            <div class="form-group">
              <label for="usrname"><span class="fa fa-user"></span> Nombre de usuario</label>
              <input type="text" class="form-control" id="usernameLoginModal" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Clave</label>
              <input type="password" class="form-control" id="passwordLoginModal" placeholder="Enter password" required>
            </div>
            <!--
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Recordarme</label>
            </div>
            -->
            <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Ingresar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
          <p>¿No se ha registrado? <a href="#">Registrarse</a></p>
          <p>¿Olvidó su  <a href="#">clave?</a></p>
        </div>
      </div>
    </div>
  </div> 
</div>


<script type="text/javascript">

  $("#loginModalIngresar").submit(function(e){
    $('#loadingModal').modal('show');
    Usuario.login($('#usernameLoginModal').val(), $('#passwordLoginModal').val());
    return false;
  });
  
</script>